@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .App {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: var(--mauve-11);
    background-color: var(--mauve-1);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  
  }
  
  
  button,
  fieldset,
  input {
    all: unset;
  }
  
  .TabsRoot {
    display: flex;
    flex-direction: column;
    width: 350px;
    box-shadow: 2px 2px 10px var(--black-a4);
    height: 360px;
   
    
  }
  
  .TabsList {
    flex-shrink: 0;
    display: flex;
    border-bottom: 1px solid var(--mauve-6);
  }
  
  .TabsTrigger {
    font-family: inherit;
    background-color: rgb(247, 242, 242);
    padding: 0 20px;
    height: 45px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 1;
    color: var(--mauve-11);
    user-select: none;
  }
  .TabsTrigger:first-child {
    border-top-left-radius: 6px;
  }
  .TabsTrigger:last-child {
    border-top-right-radius: 6px;
  }
  .TabsTrigger:hover {
    color: var(--violet-11);
  }
  .TabsTrigger[data-state='active'] {
    color: var(--violet-11);
    box-shadow: inset 0 -1px 0 0 currentColor, 0 1px 0 0 currentColor;
  }
  .TabsTrigger:focus {
    position: relative;
    box-shadow: 0 0 0 2px black;
  }
  
  .TabsContent {
    flex-grow: 1;
    padding: 20px;
    background-color: rgb(233, 230, 230);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 8px;
    
  }
  .TabsContent:focus {
    box-shadow:  2px 2px 2px 5px black;
  }
  
  .Text {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--mauve-11);
    font-size: 15px;
    line-height: 1.5;
  }
  
  .Fieldset {
    margin-bottom: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .Label {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 15px;
    color: var(--violet-12);
    display: block;
  }
  
  .Input {
    flex: 1 0 auto;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1;
    color: var(--violet-11);
    box-shadow: 0 0 0 1px var(--violet-7);
    height: 38px;
    background-color: var(--mauve-1);
  }
  .Input:focus {
    box-shadow: 0 0 0 2px var(--violet-8);
  }
  
  .Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 40px;
    cursor: pointer;
    
    margin-top: 10px;
  }
  .Button.green {
    background-color: black;
    color: white;
  }
  .Button.green:hover {
    background-color: rgb(233, 230, 230);
    color: black;
  }
  .Button.green:focus {
    box-shadow: 0 0 0 2px var(--green-7);
  }
  
  